<link rel="stylesheet" type="text/css" href="A.css">

<script src="https://unpkg.com/zdog@1/dist/zdog.dist.js"></script>

<canvas class="zdog-a" width="500" height="500"></canvas>

<script src="A.js"></script>
