<link rel="stylesheet" type="text/css" href="C.css">

<script src="https://unpkg.com/zdog@1/dist/zdog.dist.js"></script>

<canvas class="zdog-c" width="500" height="500"></canvas>

<script src="C.js"></script>