<link rel="stylesheet" type="text/css" href="Bone.css">

<script src="https://unpkg.com/zdog@1/dist/zdog.dist.js"></script>

<canvas class="zdog-bone" width="500" height="500"></canvas>

<script src="Bone.js"></script>
